{% extends 'base.html.twig' %}

{% block title %}View Transactions{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_admin') }}">Griffin Bank</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_client' %}active{% endif %}" 
             href="{{ path('app_admin') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_profile' %}active{% endif %}" 
             href="{{path('app_profile')}}">Profile</a>
        </li>
         <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_client' %}active{% endif %}" 
             href="{{ path('app_logout') }}">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="app-body">
    <h1>Transaction</h1>

    <table class="table center-table">
        <thead>
            <tr>
                <th>Reference Number</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Sender Account</th>
                <th>Receiver Account</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.referenceNumber }}</td>
                <td>{{ transaction.transactionDate|date('d/m/Y H:i') }}</td>
                <td>{{ transaction.amount}}</td>
                <td>
                <a href="{{ path('app_account_detail', {id: transaction.senderAccount.id}) }}">
                    {{transaction.senderAccount.id}}
                </a><br>
                </td>
                 <td>
                <a href="{{ path('app_account_detail', {id: transaction.receiverAccount.id}) }}">
                    {{transaction.receiverAccount.id}}
                </a><br>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No transactions found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
